@use "colors";
@use "mixins";

body {
	font-family: "Roboto", sans-serif;
}

section {
	margin-bottom: 135px;
}

.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

.section-main {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%),
		linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%),
		url("../images/intro-img.jpg") lightgray 50% / cover no-repeat;

	max-width: 1920px;
	height: auto;
}

.header {
	padding-top: 30px;
	padding-bottom: 30px;
	&-menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&__list {
			display: flex;
			gap: 50px;
			a {
				@include mixins.p-normal;
				color: colors.$white;
				position: relative;
			}

			a::after {
				content: "";
				position: absolute;
				bottom: -4px;
				left: 0;
				width: 0;
				height: 1px;
				background-color: currentColor;
				transition: width 0.2s ease;
			}

			a:hover::after {
				width: 100%;
			}
		}
		&__number {
			@include mixins.p-normal;
			color: colors.$white;
		}
	}

	&--fixed {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: rgba(243, 239, 232, 0.6);
		backdrop-filter: blur(27px);
		z-index: 1000;

		.header-menu__logo svg path {
			fill: colors.$black;
		}

		a {
			color: colors.$black;
		}
	}
}

.intro {
	margin-top: 119px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 50px;

	&__title {
		@include mixins.h1-desktop;
		width: 768px;
		text-align: center;
		color: colors.$white;
	}

	&__subtitle {
		@include mixins.p-normal;
		color: colors.$white;
		width: 562px;
		text-align: center;
	}

	&__btn {
		margin-bottom: 119px;
		display: flex;
		padding: 5px 20px;
		align-items: flex-start;
		gap: 10px;
		border-radius: 10px;
		background: colors.$white;
		@include mixins.p-small;
		transition: background 0.25s ease, color 0.25s ease;
	}

	&__btn:hover {
		background: colors.$orange200;
		color: colors.$white;
	}

	&__btn:active {
		background: colors.$orange100;
		color: colors.$black;
	}
}

.tour {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__title {
		margin-bottom: 35px;
		@include mixins.h2-desktop;
	}

	&__list {
		display: flex;
		gap: 30px;
		margin-bottom: 106px;
		flex-wrap: wrap;
		justify-content: center;

		a {
			@include mixins.p-big;
			position: relative;
			text-decoration: none;
			transition: color 0.2s ease;
		}

		a::after {
			content: "";
			position: absolute;
			bottom: -6px;
			left: 0;
			width: 0;
			height: 1px;
			background-color: colors.$orange200;
			transition: width 0.2s ease, height 0.2s ease;
		}

		a:hover::after {
			width: 100%;
			height: 2px;
		}

		a:hover {
			color: colors.$orange200;
		}
	}

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;
		.tour-card {
			padding: 50px;
			width: 370px;
			height: 531px;
			border-radius: 50px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			position: relative;
			overflow: hidden;
			background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);

			&__background {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: transform 0.3s ease;
				z-index: -1;
			}

			&:hover .tour-card__background {
				transform: scale(1.2);
			}

			&__title {
				margin-bottom: 16px;
				width: 220px;
				@include mixins.h3-desktop;
				color: colors.$white;
			}

			&__subtitle {
				@include mixins.p-small;
				color: colors.$white;
			}

			&__btn {
				@include mixins.p-big;
				margin-top: auto;
				display: flex;
				padding: 7px 20px;
				align-items: center;
				align-self: flex-start;
				gap: 15px;
				color: colors.$white;
				transition: background-color 0.25s ease;
				border-radius: 50px;
			}

			&__btn:hover {
				background-color: colors.$green400;
			}

			&__btn:active {
				background-color: colors.$orange200;
			}
		}
	}
}

.forms {
	&__top {
		margin-bottom: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__title {
		margin-bottom: 30px;
		@include mixins.h2-desktop;
	}

	&__subtitle {
		@include mixins.p-normal;
		color: colors.$gray300;
		width: 400px;
	}
}

.form {
	display: grid;
	grid-template-columns: 1fr;
	padding: 70px;
	border-radius: 50px;
	background-color: colors.$white;

	box-sizing: border-box;
	width: 100%;

	&__container {
		display: grid;
		grid-auto-rows: min-content;
		gap: 33px;
	}

	&__row {
		display: grid;
		grid-template-columns: 1fr;
		gap: 8px;

		.input-highlight {
			transition: background-color 0.3s ease;
		}

		.input-highlight:hover {
			background-color: colors.$beige200;
			border: 1px solid colors.$beige200;
		}

		.input-highlight:focus {
			border: 1px solid colors.$gray300;
			background-color: colors.$beige200;
		}

		&--two-columns {
			grid-template-columns: 1fr 1fr;
			gap: 30px;
		}

		&--checkbox {
			align-items: flex-start;
		}
	}

	&__column {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	&__label {
		@include mixins.p-normal;
	}

	&__input,
	&__textarea,
	&__select {
		@include mixins.p-normal;
		width: 100%;
		color: colors.$gray300;
		padding: 20px;
		border-radius: 10px;
		border: 1px solid colors.$beige200;
		background: colors.$beige100;
		color: colors.$black;
	}

	&__input::placeholder {
		color: colors.$gray300;
	}

	&__select {
		appearance: none;
		background-image: url("../images/select-arrow.svg");
		background-repeat: no-repeat;
		background-position: right 10px center;
	}

	&__textarea {
		resize: none;
		grid-column: 1 / -1;
		height: 152px;
		width: 100%;
		resize: none;
		overflow-x: hidden;
		overflow-y: auto;
		word-wrap: break-word;
		white-space: pre-wrap;
	}

	&__question {
		@include mixins.p-normal;
	}

	&__flex {
		display: flex;
		gap: 30px;
		position: relative;
		user-select: none;

		&--checkbox {
			gap: 19px;
		}
	}

	&__radio {
		@include mixins.p-normal;
		color: colors.$black;
		cursor: pointer;

		input {
			margin-right: 11px;
		}
	}

	&__radio-wrapper {
		display: flex;
		gap: 11px;
		align-items: center;
		justify-content: center;
	}

	.radio__input {
		width: 26px;
		height: 26px;
		border: 2px solid colors.$black;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;

		&:checked::before {
			content: "";
			border-color: colors.$black;
			display: block;
			width: 12px;
			height: 12px;
			background-color: colors.$black;
			border-radius: 50%;
		}
	}

	&__checkbox {
		@include mixins.p-small;
		width: 100%;
		color: colors.$gray300;
		user-select: none;

		input {
			margin-right: 10px;
		}
	}

	.checkbox__input {
		width: 26px;
		height: 26px;
		border: 2px solid colors.$black;
		border-radius: 6px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		flex: none;

		&:checked::before {
			content: "";
			display: block;
			width: 6px;
			height: 12px;
			border: solid colors.$black;
			border-width: 0 2px 2px 0;
			transform: rotate(45deg);
		}
	}

	&__link {
		color: colors.$black;
		margin-left: 5px;
		position: relative;
	}

	&__link::after {
		content: "";
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: currentColor;
		transition: opacity 0.3s ease;
		opacity: 0;
	}

	&__link:hover::after {
		opacity: 1;
	}

	&__actions {
		display: flex;
		gap: 30px;
	}

	&__button {
		display: flex;
		padding: 15px 30px;
		justify-content: center;
		align-items: center;
		gap: 10px;
		border-radius: 10px;
		color: colors.$white;
		@include mixins.p-normal;
		max-width: 235px;
		width: 100%;
		cursor: pointer;

		&--submit {
			background-color: colors.$green400;
			color: colors.$white;
			transition: background-color 0.25s ease;
		}

		&--submit:hover {
			background-color: colors.$green300;
		}

		&--submit:active {
			background-color: colors.$green200;
		}

		&--reset {
			background-color: colors.$green100;
			color: colors.$green400;
			transition: background-color 0.25s ease;
		}

		&--reset:hover {
			background-color: colors.$gray100;
		}

		&--reset:active {
			background-color: colors.$gray200;
		}
	}
}

.reviews {
	&__top {
		margin-bottom: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 30px;
	}

	&__title {
		@include mixins.h2-desktop;
		width: 520px;
		text-align: center;
	}

	&__subtitle {
		@include mixins.p-normal;
		color: colors.$gray300;
		text-align: center;
		width: 400px;
	}

	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 30px;
		.review {
			width: auto;
			height: 672px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			background: colors.$beige200;
			border-radius: 50px;
			padding: 40px;

			&__box {
				display: flex;
				flex-direction: column;
				gap: 30px;
			}

			&__text {
				@include mixins.p-big;
				// width: 490px;
			}

			&__user {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}

			&__left {
				display: flex;
				flex-direction: column;
				gap: 8px;
			}

			&__name {
				@include mixins.h3-desktop;
			}

			&__tour {
				@include mixins.p-small;
				color: colors.$gray300;
			}

			&__img {
				border-radius: 100px;
			}
		}
	}
}

.pictures {
	&__top {
		margin-bottom: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 30px;
	}

	&__title {
		@include mixins.h2-desktop;
	}

	&__subtitle {
		@include mixins.p-normal;
		color: colors.$gray300;
		text-align: center;
		width: 418px;
	}

	.images {
		padding: 0 30px 0 30px;
		display: flex;
		flex-direction: column;
		gap: 30px;

		&__row {
			display: grid;
			gap: 30px;

			&:nth-child(1) {
				grid-template-columns: repeat(4, 1fr);
			}

			&:nth-child(2) {
				grid-template-columns: repeat(5, 1fr);
			}

			&:nth-child(3) {
				grid-template-columns: repeat(4, 1fr);
			}
		}

		&__item {
			width: 100%;
			height: 301px;
			object-fit: cover;
			border-radius: 50px;
		}
	}
}

.story {
	&__top {
		margin-bottom: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 30px;
	}

	&__title {
		@include mixins.h2-desktop;
	}

	&__subtitle {
		@include mixins.p-normal;
		color: colors.$gray300;
		width: 418px;
		text-align: center;
	}
}

.story {
	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}

	&-card {
		padding: 60px;
		width: 100%;
		height: 567px;
		border-radius: 50px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		position: relative;
		overflow: hidden;
		background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);

		&__background {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: -1;
			transition: transform 0.3s ease;
		}

		&:hover &__background {
			transform: scale(1.2);
		}

		&__title {
			margin-bottom: 37px;
			@include mixins.h3-desktop;
			color: colors.$white;
		}

		&__text-wrapper {
			display: flex;
			flex-direction: column;
			gap: 28px;
		}

		&__text {
			@include mixins.p-normal;
			color: colors.$white;
			width: 554px;
		}

		&__list {
			padding-left: 20px;
			list-style: disc;
		}

		&__bottom {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		&__btn {
			@include mixins.p-big;
			margin-top: auto;
			display: flex;
			padding: 7px 20px;
			align-items: center;
			align-self: flex-start;
			gap: 15px;
			color: colors.$white;
			transition: background-color 0.25s ease;
			border-radius: 50px;
		}

		&__btn:hover {
			background-color: colors.$green400;
		}

		&__btn:active {
			background-color: colors.$orange200;
		}

		&__socials {
			display: flex;
			gap: 35px;
		}

		&__social {
			@include mixins.p-normal;
			color: colors.$white;
			position: relative;
		}

		&__social::after {
			content: "";
			position: absolute;
			bottom: -2px;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: currentColor;
			transition: opacity 0.3s ease;
			opacity: 0;
		}

		&__social:hover::after {
			opacity: 1;
		}
	}
}

.mail {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 30px;

	&__image {
		border-radius: 50px;
		object-fit: cover;
	}

	&__wrapper {
		width: 370px;
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&__title {
		@include mixins.h3-desktop;
	}

	&__subtitle {
		@include mixins.p-normal;
		color: colors.$gray300;
	}

	&__link {
		margin-left: 6px;
		color: colors.$black;
		position: relative;
	}

	&__link::after {
		content: "";
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: currentColor;
		transition: opacity 0.3s ease;
		opacity: 0;
	}

	&__link:hover::after {
		opacity: 1;
	}
}

.footer {
	padding: 30px 0 30px 0;
	background-color: colors.$beige200;

	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__text {
		@include mixins.p-normal;
		color: colors.$gray300;
	}

	&__socials {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 25px;
	}

	&__social {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
	}

	&__link {
		@include mixins.p-normal;
		position: relative;
	}

	&__link::after {
		content: "";
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: currentColor;
		transition: opacity 0.3s ease;
		opacity: 0;
	}

	&__link:hover::after {
		opacity: 1;
	}
}

@media (max-width: 1240px) {
	.container {
		padding: 0 57px;
	}

	.header {
		&-menu__list {
			gap: 30px;
		}
	}

	.intro {
		&__subtitle {
			width: 400px;
		}

		&__btn:hover {
			background-color: colors.$white;
			color: colors.$black;
		}
	}

	.tour {
		.tour__wrapper {
			grid-template-columns: repeat(2, 1fr);
			gap: 18px;

			.tour-card {
				width: 450px;
				height: 531px;

				&__title {
					width: auto;
				}

				&__btn:hover {
					background-color: initial;
				}
			}
		}
	}

	.reviews {
		&__wrapper {
			gap: 18px;
		}
		.review {
			min-height: 840px;
			height: auto;

			// &__text {
			// 	width: 370px;
			// }
		}
	}

	.pictures {
		.images {
			padding: 0 20px 0 20px;
			&__row {
				gap: 20px;
				&:nth-child(1) {
					grid-template-columns: repeat(3, 1fr);
					.images__item:nth-child(2) {
						display: none;
					}
				}

				&:nth-child(2) {
					grid-template-columns: repeat(4, 1fr);
					.images__item:nth-child(3) {
						display: none;
					}
				}

				&:nth-child(3) {
					grid-template-columns: repeat(3, 1fr);
					.images__item:nth-child(4) {
						display: none;
					}
				}
			}
		}
	}

	.story {
		&-card {
			&__btn:hover {
				background-color: initial;
			}
		}
	}

	.form {
		padding: 60px;

		&__textarea {
			height: 140px;
		}

		&__button--submit:hover {
			background-color: colors.$green400;
		}

		&__button--reset:hover {
			background-color: colors.$green100;
		}
	}
}

@media (max-width: 940px) {
	section {
		margin-bottom: 75px;
	}

	.container {
		padding: 0 20px;
	}

	.header {
		&-menu {
			.header-menu__logo svg {
				width: 133px;
				height: 22px;
			}

			&__number {
				font-size: 16px;
			}
		}
	}

	.tour {
		&__list {
			margin-bottom: 75px;
		}

		.tour__wrapper {
			.tour-card {
				padding: 25px;
				width: 318px;
				height: 318px;
				border-radius: 20px;

				&__title {
					@include mixins.h3-mobile;
					color: colors.$white;
				}

				&__subtitle {
					@include mixins.p-small-mobile;
					color: colors.$white;
				}
			}
		}
	}

	.forms {
		&__top {
			margin-bottom: 75px;
		}
	}

	.reviews {
		&__top {
			margin-bottom: 75px;
		}

		&__wrapper {
			flex-direction: column;
			gap: 30px;
		}
	}

	.pictures {
		&__top {
			margin-bottom: 75px;
		}
	}

	.story {
		&__top {
			margin-bottom: 75px;
		}
	}
}

@media (max-width: 740px) {
	.header {
		&-menu {
			&__list {
				display: none;
			}
		}
	}

	.intro {
		margin-top: 52px;
		gap: 40px;
		&__title {
			@include mixins.h1-mobile;
			color: colors.$white;
			width: 360px;
		}

		&__subtitle {
			@include mixins.p-normal-mobile;
			color: colors.$white;
			width: 310px;
		}

		&__btn {
			margin-bottom: 52px;
		}
	}

	.tour {
		&__title {
			margin-bottom: 30px;
			@include mixins.h2-mobile;
		}

		&__list {
			margin-bottom: 50px;
			gap: 20px;
			a {
				@include mixins.p-big-mobile;
			}
		}

		.tour__wrapper {
			grid-template-columns: repeat(1, 1fr);
			width: 100%;

			.tour-card {
				padding: 25px;
				// width: 318px;
				width: 100%;
				min-height: 350px;
				border-radius: 20px;

				&__title {
					@include mixins.h3-mobile;
					color: colors.$white;
				}

				&__subtitle {
					@include mixins.p-small-mobile;
					color: colors.$white;
				}

				&__btn {
					@include mixins.p-big-mobile;
					color: colors.$white;
					padding: 0;
				}

				&__btn:hover {
					background-color: initial;
				}
			}
		}
	}

	.forms {
		&__top {
			margin-bottom: 40px;
		}

		&__title {
			@include mixins.h2-mobile;
			margin-bottom: 20px;
		}

		&__subtitle {
			@include mixins.p-normal-mobile;
			text-align: center;
			color: colors.$gray300;
			width: 318px;
		}
		.form {
			grid-template-columns: 1fr;

			&__container {
				gap: 30px;
			}

			&__button {
				@include mixins.p-normal-mobile;
			}

			&__button--submit {
				color: colors.$white;
			}

			&__button--reset {
				color: colors.$green400;
			}

			&__row {
				.form__label {
					@include mixins.p-normal-mobile;
				}

				.form__input {
					@include mixins.p-normal-mobile;
					padding: 10px;
				}

				.form__select {
					@include mixins.p-normal-mobile;
					padding: 10px;
				}

				.form__question {
					@include mixins.p-normal-mobile;
				}

				.form__radio {
					@include mixins.p-normal-mobile;
				}

				.form__checkbox {
					@include mixins.p-normal-mobile;
					color: colors.$gray300;
				}

				grid-template-columns: 1fr;

				&--two-columns {
					grid-template-columns: 1fr;
					gap: 30px;
				}
			}

			&__actions {
				gap: 15px;
			}
		}
	}

	.reviews {
		&__top {
			margin-bottom: 50px;
		}

		&__title {
			@include mixins.h2-mobile;
		}

		&__subtitle {
			@include mixins.p-normal-mobile;
			color: colors.$gray300;
			width: 318px;
		}

		&__wrapper {
			flex-direction: column;

			.review {
				padding: 20px;
				border-radius: 20px;
				height: auto;
				min-height: 368px;
				gap: 40px;

				&__text {
					@include mixins.p-big-mobile;
				}

				&__name {
					@include mixins.h3-mobile;
				}

				&__tour {
					@include mixins.p-small-mobile;
				}
			}
		}
	}

	.pictures {
		&__top {
			margin-bottom: 50px;
			gap: 20px;
		}

		&__title {
			@include mixins.h2-mobile;
			text-align: center;
		}

		&__subtitle {
			@include mixins.p-normal-mobile;
			color: colors.$gray300;
			text-align: center;
			width: 318px;
		}

		.images {
			gap: 18px;
			&__row {
				gap: 10px;

				&:nth-child(1) {
					grid-template-columns: repeat(2, 1fr);
					.images__item:nth-child(1) {
						display: none;
					}
				}

				&:nth-child(2) {
					grid-template-columns: repeat(3, 1fr);
					.images__item:nth-child(2) {
						display: none;
					}
				}

				&:nth-child(3) {
					grid-template-columns: repeat(2, 1fr);
					.images__item:nth-child(2) {
						display: none;
					}
				}
			}

			&__item {
				height: 160px;
				border-radius: 20px;
			}
		}
	}

	.story {
		&__wrapper {
			gap: 20px;
		}

		&__top {
			margin-bottom: 50px;
			gap: 20px;
		}

		&__title {
			@include mixins.h2-mobile;
			text-align: center;
		}

		&__subtitle {
			@include mixins.p-normal-mobile;
			color: colors.$gray300;
			width: 318px;
		}

		&-card {
			padding: 30px;
			height: 455px;
			border-radius: 20px;

			&__title {
				margin-bottom: 20px;
				@include mixins.h3-mobile;
				color: colors.$white;
			}

			&__text {
				@include mixins.p-normal-mobile;
				color: colors.$white;
				width: auto;
			}

			&__btn {
				@include mixins.p-big-mobile;
				color: colors.$white;
			}

			&__socials {
				display: none;
			}
		}
	}

	.mail {
		flex-direction: column;

		&__image {
			width: 200px;
			height: 200px;
			border-radius: 20px;
		}

		&__wrapper {
			width: 291px;
		}

		&__title {
			@include mixins.h3-mobile;
			text-align: center;
		}

		&__subtitle {
			@include mixins.p-normal-mobile;
			color: colors.$gray300;
			text-align: center;
		}
	}

	.footer {
		padding: 21px 0 21px 0;
		&__wrapper {
			flex-direction: column;
			gap: 7px;
		}

		&__text {
			@include mixins.p-normal-mobile;
			color: colors.$gray300;
		}

		&__socials {
			gap: 15px;
		}

		&__social {
			gap: 5px;
		}

		&__link {
			@include mixins.p-normal-mobile;
		}
	}
}

@media (max-width: 360px) {
	section {
		margin-bottom: 75px;
	}

	.container {
		padding: 0 20px;
	}

	.header {
		&-menu {
			.header-menu__logo svg {
				width: 133px;
				height: 22px;
			}

			&__number {
				font-size: 16px;
			}
		}
	}

	.tour {
		&__list {
			gap: 10px;
		}

		.tour__wrapper {
			.tour-card {
				padding: 25px;
				width: 318px;
				height: 318px;
				min-height: 318px;
				border-radius: 20px;
			}
		}
	}

	.forms {
		.form {
			padding: 20px 20px 40px 20px;

			&__button {
				white-space: nowrap;
			}

			&__textarea {
				height: 130px;
			}

			.radio__input {
				width: 20px;
				height: 20px;
			}

			.checkbox__input {
				width: 20px;
				height: 20px;
			}

			&__flex--checkbox {
				gap: 10px;
			}
		}
	}

	.reviews {
		&__top {
			margin-bottom: 50px;
			gap: 20px;
		}

		&__wrapper {
			flex-direction: column;

			.review {
				padding: 20px;
				border-radius: 20px;
				height: auto;
				min-height: 368px;
				gap: 40px;

				&__text {
					@include mixins.p-big-mobile;
				}

				&__name {
					@include mixins.h3-mobile;
				}

				&__tour {
					@include mixins.p-small-mobile;
				}
			}
		}
	}

	.pictures {
		.images {
			&__item {
				height: 110px;
				border-radius: 20px;
			}
		}
	}

	.story {
		&-card {
			padding: 30px;
			height: 455px;
			border-radius: 20px;

			&__title {
				margin-bottom: 20px;
				@include mixins.h3-mobile;
				color: colors.$white;
				width: 130px;
			}
		}
	}

	.mail {
		&__image {
			width: 130px;
			height: 133px;
			border-radius: 20px;
		}
	}
}
